@use "global" as *;

.footer {
  background: $green3;
  padding-top: rem(48);
  padding-bottom: rem(15);

  @include mq("md") {
    padding-block: rem(80);
    // padding-left: rem(180);
    // padding-right: rem(252);
  }
}

.footer__inner {
  max-width: calc(rem(500) + rem(15) * 2);
  padding-left: rem(15);
  padding-right: rem(15);
  margin-inline: auto;

  @include mq("md") {
    max-width: calc(rem(1080) + rem(25) * 2);
    padding-left: rem(25);
    padding-right: rem(25);
  }
}

.footer__logo-wrap {
  @include mq("md") {
    display: flex;
    gap: rem(40);
  }
}

.footer__logo {
  max-width: rem(120);
  @include mq("md") {
    max-width: rem(200);
  }
}

.footer__logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.footer__sns-icons {
  display: flex;
  gap: rem(16);
  margin-top: rem(16);
  @include mq("md") {
    margin-top: rem(0);
    padding-top: rem(37);
  }
}
.footer__sns-icon {
  width: rem(24);

  @include mq("md") {
    width: rem(32);
  }
}
.footer__nav {
  display: grid;
  // row-gap: rem(31);
  column-gap: rem(39);
  grid-template-columns: repeat(2, 1fr);
  margin-top: rem(12);
  padding-left: rem(23);

  @include mq("md") {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: rem(0);
    padding-left: rem(0);
    margin-top: rem(0);
    // gap: rem(120);
    // padding-left: rem(18);
  }
}

.footer__nav-items {
  @include mq("md") {
    padding-left: rem(22);
  }
}
.footer__nav-items:not(:first-child) {
  @include mq("md") {
    padding-left: rem(38);
  }
}

.footer__nav-items:nth-child(1) {
  order: 1;
}
.footer__nav-items:nth-child(2) {
  order: 3;

  @include mq("md") {
    order: 2;
  }
}
.footer__nav-items:nth-child(3) {
  order: 2;

  @include mq("md") {
    order: 3;
  }
}
.footer__nav-items:nth-child(4) {
  order: 4;
}

.footer__nav-item.footer__nav-item--title {
  position: relative;
  margin-top: rem(16);

  @include mq("md") {
    margin-top: rem(12);
  }
}

.footer__nav-item.footer__nav-item--title:not(:first-child) {
  @include mq("md") {
    margin-top: rem(16);
  }
}

.footer__nav-item.footer__nav-item--title a {
  display: inline-block;
  color: $white;
  font-size: rem(16);
  font-weight: $bold;
  line-height: calc(18 / 16);
  padding: rem(12) 0;
}

.footer__nav-item.footer__nav-item--title::before {
  content: "";
  position: absolute;
  top: rem(12);
  left: rem(-22);
  background-image: url("../..//assets/images/common/footer-icon.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: rem(18);
  height: rem(18);
}

.footer__nav-item a {
  display: inline-block;
  padding: rem(12) 0;
  color: $white;
  font-size: rem(16);
  font-weight: $normal;
  line-height: calc(18 / 16);
  white-space: nowrap;
}

.footer__copyright {
  text-align: center;
  margin-top: rem(40);
  color: $white;
  font-weight: $normal;
  line-height: calc(18 / 12);

  @include mq("md") {
    margin-top: rem(80);
    font-size: rem(14);
    line-height: calc(18 / 14);
  }
}
