@use "global" as *;

.section-title {
  text-align: center;
}

.section-title__main {
  font-size: rem(40);
  color: $green;
  font-family: $third-font-family;
  font-weight: $normal;
  line-height: 1;
}

.section-title__main.section-title__main--big {
  font-size: rem(80);
}

.section-title__main::first-letter {
  color: $green3;
}

.section-title__sub {
  font-size: rem(12);
  color: $green3;
  font-weight: $normal;
  line-height: 1;
}
